/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.8.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type SSHAccessAPI interface {

	/*
	GetSshAccessCredentials Get SSH access credentials for an environment

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation machine name
	@param application The application name
	@param environment The environment name
	@return SSHAccessAPIGetSshAccessCredentialsRequest
	*/
	GetSshAccessCredentials(ctx context.Context, organisation string, application string, environment string) SSHAccessAPIGetSshAccessCredentialsRequest

	// GetSshAccessCredentialsExecute executes the request
	//  @return GetSshAccessCredentials200Response
	GetSshAccessCredentialsExecute(r SSHAccessAPIGetSshAccessCredentialsRequest) (*GetSshAccessCredentials200Response, *http.Response, error)
}

// SSHAccessAPIService SSHAccessAPI service
type SSHAccessAPIService service

type SSHAccessAPIGetSshAccessCredentialsRequest struct {
	ctx context.Context
	ApiService SSHAccessAPI
	organisation string
	application string
	environment string
}

func (r SSHAccessAPIGetSshAccessCredentialsRequest) Execute() (*GetSshAccessCredentials200Response, *http.Response, error) {
	return r.ApiService.GetSshAccessCredentialsExecute(r)
}

/*
GetSshAccessCredentials Get SSH access credentials for an environment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation machine name
 @param application The application name
 @param environment The environment name
 @return SSHAccessAPIGetSshAccessCredentialsRequest
*/
func (a *SSHAccessAPIService) GetSshAccessCredentials(ctx context.Context, organisation string, application string, environment string) SSHAccessAPIGetSshAccessCredentialsRequest {
	return SSHAccessAPIGetSshAccessCredentialsRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
		application: application,
		environment: environment,
	}
}

// Execute executes the request
//  @return GetSshAccessCredentials200Response
func (a *SSHAccessAPIService) GetSshAccessCredentialsExecute(r SSHAccessAPIGetSshAccessCredentialsRequest) (*GetSshAccessCredentials200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetSshAccessCredentials200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SSHAccessAPIService.GetSshAccessCredentials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/applications/{application}/environments/{environment}/ssh-access"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"application"+"}", url.PathEscape(parameterValueToString(r.application, "application")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"environment"+"}", url.PathEscape(parameterValueToString(r.environment, "environment")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
