/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.15.3
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AIUsageAPI interface {

	/*
	GetMyUsage Get AI usage summary for the authenticated user

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@return AIUsageAPIGetMyUsageRequest
	*/
	GetMyUsage(ctx context.Context, organisation string) AIUsageAPIGetMyUsageRequest

	// GetMyUsageExecute executes the request
	//  @return GetMyUsage200Response
	GetMyUsageExecute(r AIUsageAPIGetMyUsageRequest) (*GetMyUsage200Response, *http.Response, error)
}

// AIUsageAPIService AIUsageAPI service
type AIUsageAPIService service

type AIUsageAPIGetMyUsageRequest struct {
	ctx context.Context
	ApiService AIUsageAPI
	organisation string
}

func (r AIUsageAPIGetMyUsageRequest) Execute() (*GetMyUsage200Response, *http.Response, error) {
	return r.ApiService.GetMyUsageExecute(r)
}

/*
GetMyUsage Get AI usage summary for the authenticated user

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @return AIUsageAPIGetMyUsageRequest
*/
func (a *AIUsageAPIService) GetMyUsage(ctx context.Context, organisation string) AIUsageAPIGetMyUsageRequest {
	return AIUsageAPIGetMyUsageRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
//  @return GetMyUsage200Response
func (a *AIUsageAPIService) GetMyUsageExecute(r AIUsageAPIGetMyUsageRequest) (*GetMyUsage200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetMyUsage200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIUsageAPIService.GetMyUsage")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/usage/me"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
