/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.10.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AIModelsAPI interface {

	/*
	GetAIModel Get AI Model Details

	Retrieves detailed information about a specific Bedrock model from the catalog.
     *
     * **Features:**
     * - Complete pricing breakdown (input/output per million tokens)
     * - Context window and output token limits
     * - Supported features (chat, vision, streaming, embeddings)
     * - Model availability and deprecation status
     * - Release date for version tracking
     *
     * **Example Model IDs:**
     * - `amazon.nova-lite-v1:0` - Default multimodal model
     * - `anthropic.claude-3-5-sonnet-20241022-v2:0` - Latest Claude
     * - `amazon.titan-embed-text-v2:0` - Latest embeddings

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@param modelId The model identifier (e.g., amazon.nova-lite-v1:0)
	@return AIModelsAPIGetAIModelRequest
	*/
	GetAIModel(ctx context.Context, organisation string, modelId string) AIModelsAPIGetAIModelRequest

	// GetAIModelExecute executes the request
	//  @return GetAIModel200Response
	GetAIModelExecute(r AIModelsAPIGetAIModelRequest) (*GetAIModel200Response, *http.Response, error)

	/*
	ListAIModels List available AI models for an organization

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@return AIModelsAPIListAIModelsRequest
	*/
	ListAIModels(ctx context.Context, organisation string) AIModelsAPIListAIModelsRequest

	// ListAIModelsExecute executes the request
	//  @return ListAIModels200Response
	ListAIModelsExecute(r AIModelsAPIListAIModelsRequest) (*ListAIModels200Response, *http.Response, error)
}

// AIModelsAPIService AIModelsAPI service
type AIModelsAPIService service

type AIModelsAPIGetAIModelRequest struct {
	ctx context.Context
	ApiService AIModelsAPI
	organisation string
	modelId string
}

func (r AIModelsAPIGetAIModelRequest) Execute() (*GetAIModel200Response, *http.Response, error) {
	return r.ApiService.GetAIModelExecute(r)
}

/*
GetAIModel Get AI Model Details

Retrieves detailed information about a specific Bedrock model from the catalog.
     *
     * **Features:**
     * - Complete pricing breakdown (input/output per million tokens)
     * - Context window and output token limits
     * - Supported features (chat, vision, streaming, embeddings)
     * - Model availability and deprecation status
     * - Release date for version tracking
     *
     * **Example Model IDs:**
     * - `amazon.nova-lite-v1:0` - Default multimodal model
     * - `anthropic.claude-3-5-sonnet-20241022-v2:0` - Latest Claude
     * - `amazon.titan-embed-text-v2:0` - Latest embeddings

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @param modelId The model identifier (e.g., amazon.nova-lite-v1:0)
 @return AIModelsAPIGetAIModelRequest
*/
func (a *AIModelsAPIService) GetAIModel(ctx context.Context, organisation string, modelId string) AIModelsAPIGetAIModelRequest {
	return AIModelsAPIGetAIModelRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
		modelId: modelId,
	}
}

// Execute executes the request
//  @return GetAIModel200Response
func (a *AIModelsAPIService) GetAIModelExecute(r AIModelsAPIGetAIModelRequest) (*GetAIModel200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAIModel200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelsAPIService.GetAIModel")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/models/{modelId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"modelId"+"}", url.PathEscape(parameterValueToString(r.modelId, "modelId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetAIModel404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AIModelsAPIListAIModelsRequest struct {
	ctx context.Context
	ApiService AIModelsAPI
	organisation string
	feature *string
}

// Filter models by supported feature
func (r AIModelsAPIListAIModelsRequest) Feature(feature string) AIModelsAPIListAIModelsRequest {
	r.feature = &feature
	return r
}

func (r AIModelsAPIListAIModelsRequest) Execute() (*ListAIModels200Response, *http.Response, error) {
	return r.ApiService.ListAIModelsExecute(r)
}

/*
ListAIModels List available AI models for an organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @return AIModelsAPIListAIModelsRequest
*/
func (a *AIModelsAPIService) ListAIModels(ctx context.Context, organisation string) AIModelsAPIListAIModelsRequest {
	return AIModelsAPIListAIModelsRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
//  @return ListAIModels200Response
func (a *AIModelsAPIService) ListAIModelsExecute(r AIModelsAPIListAIModelsRequest) (*ListAIModels200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListAIModels200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIModelsAPIService.ListAIModels")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/models"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.feature != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "feature", r.feature, "form", "")
	} else {
		var defaultValue string = "all"
		r.feature = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
