/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.19.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type SubscriptionAPI interface {

	/*
	GetSubscriptionCloudUsage Cloud-app cost breakdown for the subscription page

	Per-project compute/database/storage cost breakdown with spot discount, for the requested month and the month before it. Mirrors the subscription page's Cloud Apps card.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation
	@return SubscriptionAPIGetSubscriptionCloudUsageRequest
	*/
	GetSubscriptionCloudUsage(ctx context.Context, organisation string) SubscriptionAPIGetSubscriptionCloudUsageRequest

	// GetSubscriptionCloudUsageExecute executes the request
	GetSubscriptionCloudUsageExecute(r SubscriptionAPIGetSubscriptionCloudUsageRequest) (*http.Response, error)
}

// SubscriptionAPIService SubscriptionAPI service
type SubscriptionAPIService service

type SubscriptionAPIGetSubscriptionCloudUsageRequest struct {
	ctx context.Context
	ApiService SubscriptionAPI
	organisation string
	month *string
}

// YYYY-MM, defaults to current month
func (r SubscriptionAPIGetSubscriptionCloudUsageRequest) Month(month string) SubscriptionAPIGetSubscriptionCloudUsageRequest {
	r.month = &month
	return r
}

func (r SubscriptionAPIGetSubscriptionCloudUsageRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetSubscriptionCloudUsageExecute(r)
}

/*
GetSubscriptionCloudUsage Cloud-app cost breakdown for the subscription page

Per-project compute/database/storage cost breakdown with spot discount, for the requested month and the month before it. Mirrors the subscription page's Cloud Apps card.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation
 @return SubscriptionAPIGetSubscriptionCloudUsageRequest
*/
func (a *SubscriptionAPIService) GetSubscriptionCloudUsage(ctx context.Context, organisation string) SubscriptionAPIGetSubscriptionCloudUsageRequest {
	return SubscriptionAPIGetSubscriptionCloudUsageRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
func (a *SubscriptionAPIService) GetSubscriptionCloudUsageExecute(r SubscriptionAPIGetSubscriptionCloudUsageRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SubscriptionAPIService.GetSubscriptionCloudUsage")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/subscription/cloud-usage"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
