/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.8.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AIMonitoringAPI interface {

	/*
	GetAIUsageStats Get AI usage statistics

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@return AIMonitoringAPIGetAIUsageStatsRequest
	*/
	GetAIUsageStats(ctx context.Context, organisation string) AIMonitoringAPIGetAIUsageStatsRequest

	// GetAIUsageStatsExecute executes the request
	//  @return GetAIUsageStats200Response
	GetAIUsageStatsExecute(r AIMonitoringAPIGetAIUsageStatsRequest) (*GetAIUsageStats200Response, *http.Response, error)
}

// AIMonitoringAPIService AIMonitoringAPI service
type AIMonitoringAPIService service

type AIMonitoringAPIGetAIUsageStatsRequest struct {
	ctx context.Context
	ApiService AIMonitoringAPI
	organisation string
	month *string
}

// Month to retrieve statistics for (YYYY-MM format)
func (r AIMonitoringAPIGetAIUsageStatsRequest) Month(month string) AIMonitoringAPIGetAIUsageStatsRequest {
	r.month = &month
	return r
}

func (r AIMonitoringAPIGetAIUsageStatsRequest) Execute() (*GetAIUsageStats200Response, *http.Response, error) {
	return r.ApiService.GetAIUsageStatsExecute(r)
}

/*
GetAIUsageStats Get AI usage statistics

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @return AIMonitoringAPIGetAIUsageStatsRequest
*/
func (a *AIMonitoringAPIService) GetAIUsageStats(ctx context.Context, organisation string) AIMonitoringAPIGetAIUsageStatsRequest {
	return AIMonitoringAPIGetAIUsageStatsRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
//  @return GetAIUsageStats200Response
func (a *AIMonitoringAPIService) GetAIUsageStatsExecute(r AIMonitoringAPIGetAIUsageStatsRequest) (*GetAIUsageStats200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAIUsageStats200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIMonitoringAPIService.GetAIUsageStats")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/usage"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
