/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.9.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AICustomToolsAPI interface {

	/*
	CreateCustomTool Register Custom Edge Function Tool

	Registers a custom edge function as a tool that AI models can invoke. This enables customers to create their own tools backed by edge functions.
     *
     * **Edge Function Contract:**
     * - Edge functions must accept POST requests with JSON payload
     * - Expected request format: `{ 'toolName': '...', 'input': {...}, 'orgId': '...' }`
     * - Must return JSON response with either `result` or `error` field
     *
     * **Async Tools:**
     * Set `isAsync: true` for operations >5 seconds. The edge function should return `{ executionId: '...' }` and the AI will poll for completion.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@return AICustomToolsAPICreateCustomToolRequest
	*/
	CreateCustomTool(ctx context.Context, organisation string) AICustomToolsAPICreateCustomToolRequest

	// CreateCustomToolExecute executes the request
	//  @return CreateCustomTool201Response
	CreateCustomToolExecute(r AICustomToolsAPICreateCustomToolRequest) (*CreateCustomTool201Response, *http.Response, error)

	/*
	DeleteCustomTool Delete Custom Tool

	Deletes a custom tool registration. The underlying edge function is not affected.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@param toolName The tool name to delete
	@return AICustomToolsAPIDeleteCustomToolRequest
	*/
	DeleteCustomTool(ctx context.Context, organisation string, toolName string) AICustomToolsAPIDeleteCustomToolRequest

	// DeleteCustomToolExecute executes the request
	//  @return DeleteCustomTool200Response
	DeleteCustomToolExecute(r AICustomToolsAPIDeleteCustomToolRequest) (*DeleteCustomTool200Response, *http.Response, error)

	/*
	ListCustomTools List Custom Tools

	Lists all registered custom edge function tools for an organization.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@return AICustomToolsAPIListCustomToolsRequest
	*/
	ListCustomTools(ctx context.Context, organisation string) AICustomToolsAPIListCustomToolsRequest

	// ListCustomToolsExecute executes the request
	//  @return ListCustomTools200Response
	ListCustomToolsExecute(r AICustomToolsAPIListCustomToolsRequest) (*ListCustomTools200Response, *http.Response, error)
}

// AICustomToolsAPIService AICustomToolsAPI service
type AICustomToolsAPIService service

type AICustomToolsAPICreateCustomToolRequest struct {
	ctx context.Context
	ApiService AICustomToolsAPI
	organisation string
	createCustomToolRequest *CreateCustomToolRequest
}

func (r AICustomToolsAPICreateCustomToolRequest) CreateCustomToolRequest(createCustomToolRequest CreateCustomToolRequest) AICustomToolsAPICreateCustomToolRequest {
	r.createCustomToolRequest = &createCustomToolRequest
	return r
}

func (r AICustomToolsAPICreateCustomToolRequest) Execute() (*CreateCustomTool201Response, *http.Response, error) {
	return r.ApiService.CreateCustomToolExecute(r)
}

/*
CreateCustomTool Register Custom Edge Function Tool

Registers a custom edge function as a tool that AI models can invoke. This enables customers to create their own tools backed by edge functions.
     *
     * **Edge Function Contract:**
     * - Edge functions must accept POST requests with JSON payload
     * - Expected request format: `{ 'toolName': '...', 'input': {...}, 'orgId': '...' }`
     * - Must return JSON response with either `result` or `error` field
     *
     * **Async Tools:**
     * Set `isAsync: true` for operations >5 seconds. The edge function should return `{ executionId: '...' }` and the AI will poll for completion.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @return AICustomToolsAPICreateCustomToolRequest
*/
func (a *AICustomToolsAPIService) CreateCustomTool(ctx context.Context, organisation string) AICustomToolsAPICreateCustomToolRequest {
	return AICustomToolsAPICreateCustomToolRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
//  @return CreateCustomTool201Response
func (a *AICustomToolsAPIService) CreateCustomToolExecute(r AICustomToolsAPICreateCustomToolRequest) (*CreateCustomTool201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CreateCustomTool201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AICustomToolsAPIService.CreateCustomTool")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/custom-tools"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.createCustomToolRequest == nil {
		return localVarReturnValue, nil, reportError("createCustomToolRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.createCustomToolRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AICustomToolsAPIDeleteCustomToolRequest struct {
	ctx context.Context
	ApiService AICustomToolsAPI
	organisation string
	toolName string
}

func (r AICustomToolsAPIDeleteCustomToolRequest) Execute() (*DeleteCustomTool200Response, *http.Response, error) {
	return r.ApiService.DeleteCustomToolExecute(r)
}

/*
DeleteCustomTool Delete Custom Tool

Deletes a custom tool registration. The underlying edge function is not affected.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @param toolName The tool name to delete
 @return AICustomToolsAPIDeleteCustomToolRequest
*/
func (a *AICustomToolsAPIService) DeleteCustomTool(ctx context.Context, organisation string, toolName string) AICustomToolsAPIDeleteCustomToolRequest {
	return AICustomToolsAPIDeleteCustomToolRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
		toolName: toolName,
	}
}

// Execute executes the request
//  @return DeleteCustomTool200Response
func (a *AICustomToolsAPIService) DeleteCustomToolExecute(r AICustomToolsAPIDeleteCustomToolRequest) (*DeleteCustomTool200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeleteCustomTool200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AICustomToolsAPIService.DeleteCustomTool")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/custom-tools/{toolName}"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"toolName"+"}", url.PathEscape(parameterValueToString(r.toolName, "toolName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type AICustomToolsAPIListCustomToolsRequest struct {
	ctx context.Context
	ApiService AICustomToolsAPI
	organisation string
}

func (r AICustomToolsAPIListCustomToolsRequest) Execute() (*ListCustomTools200Response, *http.Response, error) {
	return r.ApiService.ListCustomToolsExecute(r)
}

/*
ListCustomTools List Custom Tools

Lists all registered custom edge function tools for an organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @return AICustomToolsAPIListCustomToolsRequest
*/
func (a *AICustomToolsAPIService) ListCustomTools(ctx context.Context, organisation string) AICustomToolsAPIListCustomToolsRequest {
	return AICustomToolsAPIListCustomToolsRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
//  @return ListCustomTools200Response
func (a *AICustomToolsAPIService) ListCustomToolsExecute(r AICustomToolsAPIListCustomToolsRequest) (*ListCustomTools200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ListCustomTools200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AICustomToolsAPIService.ListCustomTools")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/custom-tools"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
