/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.9.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type OrchestrationAPI interface {

	/*
	GetAIOrchestrationStatus Get Orchestration Status

	Retrieves the status and synthesized result of a multi-tool orchestration.
     *
     * **Orchestration Pattern:**
     * When the AI requests multiple async tools simultaneously, an orchestration is created
     * to track all tool executions and synthesize their results into a single coherent response.
     *
     * **Flow:**
     * 1. AI requests multiple async tools (e.g., image generation + web search)
     * 2. Chat API creates orchestration and returns orchestrationId
     * 3. Tool Orchestrator Lambda polls all async tools
     * 4. When all tools complete, Orchestrator synthesizes results using AI
     * 5. Client polls this endpoint and receives final synthesized response
     *
     * **Status Values:**
     * - pending: Orchestration created, tools not yet started
     * - polling: Orchestrator is actively polling async tools
     * - synthesizing: All tools complete, AI is synthesizing response
     * - complete: Orchestration finished, synthesizedResponse available
     * - failed: Orchestration failed, error available
     *
     * **Polling Recommendations:**
     * - Poll every 2 seconds
     * - Maximum poll time: 10 minutes
     * - Orchestrator handles tool polling internally
     *
     * **Benefits over individual polling:**
     * - Single poll endpoint for multiple async tools
     * - AI synthesizes all results into coherent response
     * - Answers the original user question, not just tool summaries

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation The organisation ID
	@param orchestrationId Orchestration identifier for aggregated async tool executions
	@return OrchestrationAPIGetAIOrchestrationStatusRequest
	*/
	GetAIOrchestrationStatus(ctx context.Context, organisation string, orchestrationId string) OrchestrationAPIGetAIOrchestrationStatusRequest

	// GetAIOrchestrationStatusExecute executes the request
	//  @return GetAIOrchestrationStatus200Response
	GetAIOrchestrationStatusExecute(r OrchestrationAPIGetAIOrchestrationStatusRequest) (*GetAIOrchestrationStatus200Response, *http.Response, error)
}

// OrchestrationAPIService OrchestrationAPI service
type OrchestrationAPIService service

type OrchestrationAPIGetAIOrchestrationStatusRequest struct {
	ctx context.Context
	ApiService OrchestrationAPI
	organisation string
	orchestrationId string
}

func (r OrchestrationAPIGetAIOrchestrationStatusRequest) Execute() (*GetAIOrchestrationStatus200Response, *http.Response, error) {
	return r.ApiService.GetAIOrchestrationStatusExecute(r)
}

/*
GetAIOrchestrationStatus Get Orchestration Status

Retrieves the status and synthesized result of a multi-tool orchestration.
     *
     * **Orchestration Pattern:**
     * When the AI requests multiple async tools simultaneously, an orchestration is created
     * to track all tool executions and synthesize their results into a single coherent response.
     *
     * **Flow:**
     * 1. AI requests multiple async tools (e.g., image generation + web search)
     * 2. Chat API creates orchestration and returns orchestrationId
     * 3. Tool Orchestrator Lambda polls all async tools
     * 4. When all tools complete, Orchestrator synthesizes results using AI
     * 5. Client polls this endpoint and receives final synthesized response
     *
     * **Status Values:**
     * - pending: Orchestration created, tools not yet started
     * - polling: Orchestrator is actively polling async tools
     * - synthesizing: All tools complete, AI is synthesizing response
     * - complete: Orchestration finished, synthesizedResponse available
     * - failed: Orchestration failed, error available
     *
     * **Polling Recommendations:**
     * - Poll every 2 seconds
     * - Maximum poll time: 10 minutes
     * - Orchestrator handles tool polling internally
     *
     * **Benefits over individual polling:**
     * - Single poll endpoint for multiple async tools
     * - AI synthesizes all results into coherent response
     * - Answers the original user question, not just tool summaries

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation The organisation ID
 @param orchestrationId Orchestration identifier for aggregated async tool executions
 @return OrchestrationAPIGetAIOrchestrationStatusRequest
*/
func (a *OrchestrationAPIService) GetAIOrchestrationStatus(ctx context.Context, organisation string, orchestrationId string) OrchestrationAPIGetAIOrchestrationStatusRequest {
	return OrchestrationAPIGetAIOrchestrationStatusRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
		orchestrationId: orchestrationId,
	}
}

// Execute executes the request
//  @return GetAIOrchestrationStatus200Response
func (a *OrchestrationAPIService) GetAIOrchestrationStatusExecute(r OrchestrationAPIGetAIOrchestrationStatusRequest) (*GetAIOrchestrationStatus200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAIOrchestrationStatus200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OrchestrationAPIService.GetAIOrchestrationStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/tools/orchestrations/{orchestrationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"orchestrationId"+"}", url.PathEscape(parameterValueToString(r.orchestrationId, "orchestrationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetAIOrchestrationStatus404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
