/*
QuantCDN API

Unified API for QuantCDN Admin and QuantCloud Platform services

API version: 4.19.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package quantadmingo

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


type AIAPI interface {

	/*
	GetAIUsageStats Organisation AI usage breakdown (subscription page parity)

	AI usage from the subscription page's source (cloud-api monthly-usage). Parameterized by month, groupBy (model|user|token) and optional daily series. NOTE: as of API 4.19.0 this endpoint requires the update_subscription permission + subscription:read scope (previously use_ai_services + ai:use). For per-caller spend use /ai/usage/me.

	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param organisation
	@return AIAPIGetAIUsageStatsRequest
	*/
	GetAIUsageStats(ctx context.Context, organisation string) AIAPIGetAIUsageStatsRequest

	// GetAIUsageStatsExecute executes the request
	GetAIUsageStatsExecute(r AIAPIGetAIUsageStatsRequest) (*http.Response, error)
}

// AIAPIService AIAPI service
type AIAPIService service

type AIAPIGetAIUsageStatsRequest struct {
	ctx context.Context
	ApiService AIAPI
	organisation string
	month *string
	groupBy *string
	include *string
	userId *string
	tokenId *string
}

// YYYY-MM, defaults to current month
func (r AIAPIGetAIUsageStatsRequest) Month(month string) AIAPIGetAIUsageStatsRequest {
	r.month = &month
	return r
}

func (r AIAPIGetAIUsageStatsRequest) GroupBy(groupBy string) AIAPIGetAIUsageStatsRequest {
	r.groupBy = &groupBy
	return r
}

// Set to &#39;daily&#39; to append a 30-day series
func (r AIAPIGetAIUsageStatsRequest) Include(include string) AIAPIGetAIUsageStatsRequest {
	r.include = &include
	return r
}

// Scope the daily series to a user
func (r AIAPIGetAIUsageStatsRequest) UserId(userId string) AIAPIGetAIUsageStatsRequest {
	r.userId = &userId
	return r
}

// Scope the daily series to a token
func (r AIAPIGetAIUsageStatsRequest) TokenId(tokenId string) AIAPIGetAIUsageStatsRequest {
	r.tokenId = &tokenId
	return r
}

func (r AIAPIGetAIUsageStatsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetAIUsageStatsExecute(r)
}

/*
GetAIUsageStats Organisation AI usage breakdown (subscription page parity)

AI usage from the subscription page's source (cloud-api monthly-usage). Parameterized by month, groupBy (model|user|token) and optional daily series. NOTE: as of API 4.19.0 this endpoint requires the update_subscription permission + subscription:read scope (previously use_ai_services + ai:use). For per-caller spend use /ai/usage/me.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param organisation
 @return AIAPIGetAIUsageStatsRequest
*/
func (a *AIAPIService) GetAIUsageStats(ctx context.Context, organisation string) AIAPIGetAIUsageStatsRequest {
	return AIAPIGetAIUsageStatsRequest{
		ApiService: a,
		ctx: ctx,
		organisation: organisation,
	}
}

// Execute executes the request
func (a *AIAPIService) GetAIUsageStatsExecute(r AIAPIGetAIUsageStatsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AIAPIService.GetAIUsageStats")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v3/organizations/{organisation}/ai/usage"
	localVarPath = strings.Replace(localVarPath, "{"+"organisation"+"}", url.PathEscape(parameterValueToString(r.organisation, "organisation")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.month != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "month", r.month, "form", "")
	}
	if r.groupBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupBy", r.groupBy, "form", "")
	} else {
		var defaultValue string = "model"
		r.groupBy = &defaultValue
	}
	if r.include != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include", r.include, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.tokenId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tokenId", r.tokenId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
