openapi: 3.0.0
info:
  title: QuantCDN Admin API
  version: 0.0.0
servers:
- description: Admin API
  url: https://dashboard.quantcdn.io/api/v2
security:
- BearerAuth: []
tags:
- name: Organizations
- name: Projects
- name: Purge
- name: Crawlers
- name: Crawler
- name: Domains
- name: Headers
- name: Rules__Proxy
- name: Rules__Redirect
- name: KV
- name: KV__Items
- name: Secrets
paths:
  /organizations:
    get:
      operationId: Organizations_list
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Organizations
  /organizations/{organization}:
    get:
      operationId: Organizations_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Organizations
  /organizations/{organization}/projects:
    get:
      operationId: Projects_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    post:
      operationId: Projects_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded and a new resource has been created
            as a result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
  /organizations/{organization}/projects/{project}:
    delete:
      operationId: Projects_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    get:
      operationId: Projects_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    patch:
      operationId: Projects_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
  /organizations/{organization}/projects/{project}/crawlers:
    get:
      operationId: Crawlers_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawler'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    post:
      operationId: Crawlers_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
  /organizations/{organization}/projects/{project}/crawlers/{crawler}:
    delete:
      operationId: Crawlers_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    get:
      operationId: Crawlers_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    patch:
      operationId: Crawlers_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
  /organizations/{organization}/projects/{project}/crawlers/{crawler}/schedule:
    get:
      operationId: CrawlerSchedules_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlerSchedule'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawler
    post:
      operationId: CrawlerSchedules_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerScheduleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawler
  /organizations/{organization}/projects/{project}/crawlers/{crawler}/schedule/{schedule}:
    delete:
      operationId: CrawlerSchedules_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawler
    get:
      operationId: CrawlerSchedules_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawler
    patch:
      operationId: CrawlerSchedules_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: schedule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerScheduleRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawler
  /organizations/{organization}/projects/{project}/custom-headers:
    delete:
      operationId: Headers_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Headers_delete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
    get:
      operationId: Headers_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
    post:
      operationId: Headers_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Headers_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
  /organizations/{organization}/projects/{project}/domains:
    get:
      operationId: Domains_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    post:
      operationId: Domains_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
  /organizations/{organization}/projects/{project}/domains/{domain}:
    delete:
      operationId: Domains_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    get:
      operationId: Domains_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    patch:
      operationId: Domains_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
  /organizations/{organization}/projects/{project}/kv:
    get:
      operationId: KV_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Store'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    post:
      operationId: KV_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
  /organizations/{organization}/projects/{project}/kv/{store}:
    delete:
      operationId: KV_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    get:
      operationId: KV_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    patch:
      operationId: KV_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
  /organizations/{organization}/projects/{project}/kv/{store}/items:
    get:
      operationId: KVItems_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StoreItem'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    post:
      operationId: KVItems_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
  /organizations/{organization}/projects/{project}/kv/{store}/items/{item}:
    delete:
      operationId: KVItems_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    get:
      operationId: KVItems_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    patch:
      operationId: KVItems_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItemUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
  /organizations/{organization}/projects/{project}/purge:
    post:
      operationId: Purge_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Purge
  /organizations/{organization}/projects/{project}/rules/proxy:
    get:
      operationId: RulesProxy_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleProxy'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    post:
      operationId: RulesProxy_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleProxyRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded and a new resource has been created
            as a result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
  /organizations/{organization}/projects/{project}/rules/proxy/{rule}:
    delete:
      operationId: RulesProxy_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    get:
      operationId: RulesProxy_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    patch:
      operationId: RulesProxy_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleProxyRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
  /organizations/{organization}/projects/{project}/rules/redirect:
    get:
      operationId: RulesRedirect_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleRedirect'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    post:
      operationId: RulesRedirect_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleRedirectRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
  /organizations/{organization}/projects/{project}/rules/redirect/{rule}:
    delete:
      operationId: RulesRedirect_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    get:
      operationId: RulesRedirect_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    patch:
      operationId: RulesRedirect_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleRedirectRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
  /organizations/{organization}/projects/{project}/secrets:
    get:
      operationId: Secrets_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Store'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Secrets
    post:
      operationId: Secrets_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Secrets
  /organizations/{organization}/projects/{project}/secrets/{store}:
    delete:
      operationId: Secrets_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Secrets
    get:
      operationId: Secrets_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Secrets
    patch:
      operationId: Secrets_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Secrets
components:
  parameters:
    ResourceURLParameters.organization:
      explode: false
      in: path
      name: organization
      required: true
      schema:
        type: string
      style: simple
    ResourceURLParameters.project:
      explode: false
      in: path
      name: project
      required: true
      schema:
        type: string
      style: simple
  schemas:
    Crawler:
      example:
        urls_list: urls_list
        updated_at: updated_at
        project_id: 6
        domain: domain
        name: name
        domain_verified: 1
        created_at: created_at
        id: 0
        uuid: uuid
        config: config
        deleted_at: deleted_at
      properties:
        name:
          type: string
        id:
          format: int32
          type: integer
        project_id:
          format: int32
          type: integer
        uuid:
          type: string
        config:
          type: string
        domain:
          type: string
        domain_verified:
          default: 0
          format: int32
          type: integer
        urls_list:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - config
      - domain
      - id
      - project_id
      - uuid
      type: object
    CrawlerRequest:
      example:
        headers:
          key: headers
        urls:
        - urls
        - urls
        domain: domain
        name: name
        browser_mode: false
        exclude:
        - exclude
        - exclude
      properties:
        name:
          type: string
        domain:
          type: string
        browser_mode:
          default: false
          type: boolean
        urls:
          default: []
          items:
            type: string
          type: array
        headers:
          additionalProperties:
            type: string
          type: object
        exclude:
          default: []
          items:
            type: string
          type: array
      required:
      - domain
      type: object
    CrawlerRequestUpdate:
      example:
        headers:
          key: headers
        urls:
        - urls
        - urls
        domain: domain
        name: name
        browser_mode: false
        exclude:
        - exclude
        - exclude
      properties:
        name:
          type: string
        domain:
          type: string
        browser_mode:
          default: false
          type: boolean
        urls:
          default: []
          items:
            type: string
          type: array
        headers:
          additionalProperties:
            type: string
          type: object
        exclude:
          default: []
          items:
            type: string
          type: array
      type: object
    CrawlerSchedule:
      example:
        crawler_last_run_id: 5
        schedule_cron_string: schedule_cron_string
        updated_at: updated_at
        project_id: 1
        crawler_config_id: 6
        created_at: created_at
        id: 0
        deleted_at: deleted_at
      properties:
        id:
          format: int32
          type: integer
        crawler_config_id:
          format: int32
          type: integer
        project_id:
          format: int32
          type: integer
        crawler_last_run_id:
          format: int32
          type: integer
        schedule_cron_string:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - crawler_config_id
      - crawler_last_run_id
      - id
      - project_id
      - schedule_cron_string
      type: object
    CrawlerScheduleRequest:
      example:
        schedule_cron_string: schedule_cron_string
      properties:
        schedule_cron_string:
          type: string
      required:
      - schedule_cron_string
      type: object
    CrawlerScheduleRequestUpdate:
      example:
        schedule_cron_string: schedule_cron_string
      properties:
        schedule_cron_string:
          type: string
      type: object
    Domain:
      example:
        updated_at: updated_at
        project_id: 6
        kind: domain
        domain: domain
        dns_engaged: 5
        created_at: created_at
        id: 0
        in_section: 1
        deleted_at: deleted_at
        section_message: section_message
      properties:
        kind:
          enum:
          - domain
          type: string
        id:
          format: int32
          type: integer
        domain:
          type: string
        project_id:
          format: int32
          type: integer
        in_section:
          format: int32
          type: integer
        dns_engaged:
          format: int32
          type: integer
        section_message:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - dns_engaged
      - domain
      - id
      - kind
      type: object
    DomainRequest:
      example:
        domain: domain
        name: name
      properties:
        name:
          type: string
        domain:
          type: string
      required:
      - domain
      - name
      type: object
    DomainRequestUpdate:
      example:
        domain: domain
        name: name
      properties:
        name:
          type: string
        domain:
          type: string
      type: object
    Error:
      example:
        message: message
        error: true
      properties:
        message:
          type: string
        error:
          type: boolean
      required:
      - error
      - message
      type: object
    FailoverConfig:
      example:
        failover_origin_ttfb: "2000"
        failover_lifetime: "300"
        failover_origin_status_codes:
        - failover_origin_status_codes
        - failover_origin_status_codes
        failover_mode: failover_mode
      properties:
        failover_mode:
          type: string
        failover_origin_ttfb:
          default: "2000"
          type: string
        failover_origin_status_codes:
          default:
          - "200"
          - "404"
          - "301"
          - "302"
          - "304"
          items:
            type: string
          type: array
        failover_lifetime:
          default: "300"
          type: string
      type: object
    NotifyConfig:
      example:
        period: "60"
        slack_webhook: ""
        origin_status_codes:
        - origin_status_codes
        - origin_status_codes
      properties:
        origin_status_codes:
          items:
            type: string
          type: array
        period:
          default: "60"
          type: string
        slack_webhook:
          default: ""
          type: string
      type: object
    Organization:
      example:
        updated_at: updated_at
        name: name
        organizations: organizations
        created_at: created_at
        subscription: subscription
        region: au
        type: type
      properties:
        name:
          readOnly: true
          type: string
        organizations:
          type: string
        region:
          default: au
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        subscription:
          type: string
        type:
          type: string
      required:
      - name
      - organizations
      - region
      type: object
    Project:
      example:
        project_type: normal
        fastly_migrated: 5
        kind: project
        created_at: created_at
        machine_name: machine_name
        uuid: uuid
        deleted_at: deleted_at
        updated_at: updated_at
        organization_id: 6
        name: name
        security_score: security_score
        id: 0
        git_url: git_url
        parent_project_id: 1
        region: region
      properties:
        kind:
          default: project
          enum:
          - project
          type: string
        id:
          format: int32
          type: integer
        machine_name:
          type: string
        name:
          type: string
        organization_id:
          format: int32
          type: integer
        uuid:
          type: string
        project_type:
          default: normal
          enum:
          - normal
          - opensource
          - quant
          type: string
        git_url:
          type: string
        security_score:
          type: string
        parent_project_id:
          format: int32
          type: integer
        region:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
        fastly_migrated:
          default: 1
          format: int32
          type: integer
      required:
      - kind
      - machine_name
      - name
      type: object
    ProjectRequest:
      example:
        basic_auth_preview_only: basic_auth_preview_only
        allow_query_params: true
        basic_auth_password: basic_auth_password
        custom_s3_sync_region: custom_s3_sync_region
        custom_s3_sync_access_key: custom_s3_sync_access_key
        name: name
        basic_auth_username: basic_auth_username
        region: au
        custom_s3_sync_secret_key: custom_s3_sync_secret_key
        custom_s3_sync_bucket: custom_s3_sync_bucket
      properties:
        name:
          type: string
        region:
          default: au
          type: string
        allow_query_params:
          type: boolean
        basic_auth_username:
          type: string
        basic_auth_password:
          type: string
        basic_auth_preview_only:
          type: string
        custom_s3_sync_bucket:
          type: string
        custom_s3_sync_region:
          type: string
        custom_s3_sync_access_key:
          type: string
        custom_s3_sync_secret_key:
          type: string
      required:
      - name
      - region
      type: object
    ProjectRequestUpdate:
      example:
        basic_auth_preview_only: basic_auth_preview_only
        allow_query_params: true
        basic_auth_password: basic_auth_password
        custom_s3_sync_region: custom_s3_sync_region
        custom_s3_sync_access_key: custom_s3_sync_access_key
        name: name
        basic_auth_username: basic_auth_username
        region: au
        custom_s3_sync_secret_key: custom_s3_sync_secret_key
        custom_s3_sync_bucket: custom_s3_sync_bucket
      properties:
        name:
          type: string
        region:
          default: au
          type: string
        allow_query_params:
          type: boolean
        basic_auth_username:
          type: string
        basic_auth_password:
          type: string
        basic_auth_preview_only:
          type: string
        custom_s3_sync_bucket:
          type: string
        custom_s3_sync_region:
          type: string
        custom_s3_sync_access_key:
          type: string
        custom_s3_sync_secret_key:
          type: string
      type: object
    ProxyConfig:
      example:
        cache_lifetime: 0
        only_proxy_404: true
        proxy_strip_request_headers:
        - proxy_strip_request_headers
        - proxy_strip_request_headers
        inject_headers:
          key: inject_headers
        auth_user: auth_user
        host: host
        auth_pass: auth_pass
        to: to
        proxy_strip_headers:
        - proxy_strip_headers
        - proxy_strip_headers
        disable_ssl_verify: true
      properties:
        to:
          type: string
        host:
          type: string
        auth_user:
          type: string
        auth_pass:
          type: string
        disable_ssl_verify:
          type: boolean
        cache_lifetime:
          type: integer
        only_proxy_404:
          type: boolean
        inject_headers:
          additionalProperties:
            type: string
          type: object
        proxy_strip_headers:
          items:
            type: string
          type: array
        proxy_strip_request_headers:
          items:
            type: string
          type: array
      required:
      - to
      type: object
    ProxyConfigUpdate:
      example:
        cache_lifetime: 6
        only_proxy_404: true
        proxy_strip_request_headers:
        - proxy_strip_request_headers
        - proxy_strip_request_headers
        inject_headers:
          key: inject_headers
        auth_user: auth_user
        host: host
        auth_pass: auth_pass
        to: to
        proxy_strip_headers:
        - proxy_strip_headers
        - proxy_strip_headers
        disable_ssl_verify: true
      properties:
        to:
          type: string
        host:
          type: string
        auth_user:
          type: string
        auth_pass:
          type: string
        disable_ssl_verify:
          type: boolean
        cache_lifetime:
          type: integer
        only_proxy_404:
          type: boolean
        inject_headers:
          additionalProperties:
            type: string
          type: object
        proxy_strip_headers:
          items:
            type: string
          type: array
        proxy_strip_request_headers:
          items:
            type: string
          type: array
      type: object
    PurgeRequest:
      example:
        cache_keys:
        - cache_keys
        - cache_keys
        scope: project
      properties:
        cache_keys:
          items:
            type: string
          type: array
        scope:
          default: project
          enum:
          - org
          - project
          type: string
      required:
      - cache_keys
      - scope
      type: object
    Rule:
      properties:
        name:
          type: string
        uuid:
          type: string
        rule_id:
          type: string
        url:
          items:
            type: string
          type: array
        domain:
          items:
            type: string
          type: array
        disabled:
          default: false
          type: boolean
        only_with_cookie:
          type: string
        method:
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        country:
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        action:
          type: string
      required:
      - action
      - disabled
      - uuid
      type: object
    RuleAuth:
      allOf:
      - $ref: '#/components/schemas/Rule'
      properties:
        kind:
          enum:
          - rule_auth
          type: string
        action_config:
          $ref: '#/components/schemas/RuleAuthAction'
      required:
      - action_config
      - kind
      type: object
    RuleAuthAction:
      properties:
        auth_user:
          type: string
        auth_pass:
          type: string
      required:
      - auth_pass
      - auth_user
      type: object
    RuleCustomResponse:
      allOf:
      - $ref: '#/components/schemas/Rule'
      properties:
        kind:
          enum:
          - rule_custom_response
          type: string
        action_config:
          $ref: '#/components/schemas/RuleCustomResponseAction'
      required:
      - kind
      type: object
    RuleCustomResponseAction:
      properties:
        custom_response_body:
          type: string
        custom_response_status_code:
          default: 200
          format: int32
          type: integer
      required:
      - custom_response_body
      - custom_response_status_code
      type: object
    RuleHeader:
      allOf:
      - $ref: '#/components/schemas/Rule'
      properties:
        kind:
          enum:
          - rule_header
          type: string
        action_config:
          $ref: '#/components/schemas/RuleHeaderAction'
      required:
      - action_config
      - kind
      type: object
    RuleHeaderAction:
      properties:
        headers:
          additionalProperties:
            type: string
          type: object
      required:
      - headers
      type: object
    RuleProxy:
      allOf:
      - $ref: '#/components/schemas/Rule'
      example:
        kind: rule_proxy
        action_config:
          proxy:
            cache_lifetime: 0
            only_proxy_404: true
            proxy_strip_request_headers:
            - proxy_strip_request_headers
            - proxy_strip_request_headers
            inject_headers:
              key: inject_headers
            auth_user: auth_user
            host: host
            auth_pass: auth_pass
            to: to
            proxy_strip_headers:
            - proxy_strip_headers
            - proxy_strip_headers
            disable_ssl_verify: true
          failover:
            failover_origin_ttfb: "2000"
            failover_lifetime: "300"
            failover_origin_status_codes:
            - failover_origin_status_codes
            - failover_origin_status_codes
            failover_mode: failover_mode
          waf_enabled: false
          proxy_inline_fn_enabled: false
          waf_config:
            allow_rules:
            - allow_rules
            - allow_rules
            waf_ratelimit_cooldown: 1
            notify_slack_rpm: 1
            request_header_ratelimit_mode: disabled
            ip_ratelimit_cooldown: 3
            request_header_ratelimit_cooldown: 4
            notify_slack_hits_rpm: 7
            allow_ip:
            - allow_ip
            - allow_ip
            request_header_name: request_header_name
            mode: block
            thresholds:
            - mode: disabled
              hits: 5
              rps: 5
              minutes: 2
              cooldown: 1
              type: type
              value: value
              notify_slack: notify_slack
            - mode: disabled
              hits: 5
              rps: 5
              minutes: 2
              cooldown: 1
              type: type
              value: value
              notify_slack: notify_slack
            request_header_ratelimit_rps: 2
            waf_ratelimit_hits: 7
            httpbl_enabled:
              key: true
            ip_ratelimit_mode: disabled
            ip_ratelimit_rps: 9
            waf_ratelimit_rps: 1
            notify_email:
            - notify_email
            - notify_email
            block_ip:
            - block_ip
            - block_ip
            block_referer:
            - block_referer
            - block_referer
            waf_ratelimit_mode: disabled
            block_ua:
            - block_ua
            - block_ua
            notify_slack: notify_slack
            paranoia_level: 6
          notify_config:
            period: "60"
            slack_webhook: ""
            origin_status_codes:
            - origin_status_codes
            - origin_status_codes
          notify: notify
          proxy_alert_enabled: true
      properties:
        kind:
          enum:
          - rule_proxy
          type: string
        action_config:
          $ref: '#/components/schemas/RuleProxyAction'
      required:
      - action_config
      - kind
      type: object
    RuleProxyAction:
      example:
        proxy:
          cache_lifetime: 0
          only_proxy_404: true
          proxy_strip_request_headers:
          - proxy_strip_request_headers
          - proxy_strip_request_headers
          inject_headers:
            key: inject_headers
          auth_user: auth_user
          host: host
          auth_pass: auth_pass
          to: to
          proxy_strip_headers:
          - proxy_strip_headers
          - proxy_strip_headers
          disable_ssl_verify: true
        failover:
          failover_origin_ttfb: "2000"
          failover_lifetime: "300"
          failover_origin_status_codes:
          - failover_origin_status_codes
          - failover_origin_status_codes
          failover_mode: failover_mode
        waf_enabled: false
        proxy_inline_fn_enabled: false
        waf_config:
          allow_rules:
          - allow_rules
          - allow_rules
          waf_ratelimit_cooldown: 1
          notify_slack_rpm: 1
          request_header_ratelimit_mode: disabled
          ip_ratelimit_cooldown: 3
          request_header_ratelimit_cooldown: 4
          notify_slack_hits_rpm: 7
          allow_ip:
          - allow_ip
          - allow_ip
          request_header_name: request_header_name
          mode: block
          thresholds:
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          request_header_ratelimit_rps: 2
          waf_ratelimit_hits: 7
          httpbl_enabled:
            key: true
          ip_ratelimit_mode: disabled
          ip_ratelimit_rps: 9
          waf_ratelimit_rps: 1
          notify_email:
          - notify_email
          - notify_email
          block_ip:
          - block_ip
          - block_ip
          block_referer:
          - block_referer
          - block_referer
          waf_ratelimit_mode: disabled
          block_ua:
          - block_ua
          - block_ua
          notify_slack: notify_slack
          paranoia_level: 6
        notify_config:
          period: "60"
          slack_webhook: ""
          origin_status_codes:
          - origin_status_codes
          - origin_status_codes
        notify: notify
        proxy_alert_enabled: true
      properties:
        proxy:
          $ref: '#/components/schemas/ProxyConfig'
        failover:
          $ref: '#/components/schemas/FailoverConfig'
        notify:
          type: string
        notify_config:
          $ref: '#/components/schemas/NotifyConfig'
        waf_enabled:
          default: false
          type: boolean
        waf_config:
          $ref: '#/components/schemas/WAFConfig'
        proxy_alert_enabled:
          type: boolean
        proxy_inline_fn_enabled:
          default: false
          type: boolean
      required:
      - proxy
      - waf_enabled
      type: object
    RuleProxyRequest:
      example:
        country: country_is
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        only_with_cookie: false
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        notify_config:
          period: "60"
          slack_webhook: ""
          origin_status_codes:
          - origin_status_codes
          - origin_status_codes
        url:
        - url
        - url
        notify: none
        cookie_name: cookie_name
        country_is_not:
        - country_is_not
        - country_is_not
        proxy:
          cache_lifetime: 0
          only_proxy_404: true
          proxy_strip_request_headers:
          - proxy_strip_request_headers
          - proxy_strip_request_headers
          inject_headers:
            key: inject_headers
          auth_user: auth_user
          host: host
          auth_pass: auth_pass
          to: to
          proxy_strip_headers:
          - proxy_strip_headers
          - proxy_strip_headers
          disable_ssl_verify: true
        failover:
          failover_origin_ttfb: "2000"
          failover_lifetime: "300"
          failover_origin_status_codes:
          - failover_origin_status_codes
          - failover_origin_status_codes
          failover_mode: failover_mode
        domain:
        - domain
        - domain
        name: name
        waf_enabled: false
        ip_is:
        - ip_is
        - ip_is
        disabled: false
        waf_config:
          allow_rules:
          - allow_rules
          - allow_rules
          waf_ratelimit_cooldown: 1
          notify_slack_rpm: 1
          request_header_ratelimit_mode: disabled
          ip_ratelimit_cooldown: 3
          request_header_ratelimit_cooldown: 4
          notify_slack_hits_rpm: 7
          allow_ip:
          - allow_ip
          - allow_ip
          request_header_name: request_header_name
          mode: block
          thresholds:
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          request_header_ratelimit_rps: 2
          waf_ratelimit_hits: 7
          httpbl_enabled:
            key: true
          ip_ratelimit_mode: disabled
          ip_ratelimit_rps: 9
          waf_ratelimit_rps: 1
          notify_email:
          - notify_email
          - notify_email
          block_ip:
          - block_ip
          - block_ip
          block_referer:
          - block_referer
          - block_referer
          waf_ratelimit_mode: disabled
          block_ua:
          - block_ua
          - block_ua
          notify_slack: notify_slack
          paranoia_level: 6
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        only_with_cookie:
          default: false
          type: boolean
        cookie_name:
          type: string
        proxy:
          $ref: '#/components/schemas/ProxyConfig'
        failover:
          $ref: '#/components/schemas/FailoverConfig'
        notify:
          default: none
          enum:
          - none
          - slack
          type: string
        notify_config:
          $ref: '#/components/schemas/NotifyConfig'
        waf_enabled:
          default: false
          type: boolean
        waf_config:
          $ref: '#/components/schemas/WAFConfig'
      required:
      - disabled
      - domain
      - proxy
      - url
      type: object
    RuleProxyRequestUpdate:
      example:
        country: country_is
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        only_with_cookie: false
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        notify_config:
          period: "60"
          slack_webhook: ""
          origin_status_codes:
          - origin_status_codes
          - origin_status_codes
        url:
        - url
        - url
        notify: none
        cookie_name: cookie_name
        country_is_not:
        - country_is_not
        - country_is_not
        proxy:
          cache_lifetime: 6
          only_proxy_404: true
          proxy_strip_request_headers:
          - proxy_strip_request_headers
          - proxy_strip_request_headers
          inject_headers:
            key: inject_headers
          auth_user: auth_user
          host: host
          auth_pass: auth_pass
          to: to
          proxy_strip_headers:
          - proxy_strip_headers
          - proxy_strip_headers
          disable_ssl_verify: true
        failover:
          failover_origin_ttfb: "2000"
          failover_lifetime: "300"
          failover_origin_status_codes:
          - failover_origin_status_codes
          - failover_origin_status_codes
          failover_mode: failover_mode
        domain:
        - domain
        - domain
        name: name
        waf_enabled: false
        ip_is:
        - ip_is
        - ip_is
        disabled: false
        waf_config:
          allow_rules:
          - allow_rules
          - allow_rules
          waf_ratelimit_cooldown: 4
          notify_slack_rpm: 7
          request_header_ratelimit_mode: disabled
          ip_ratelimit_cooldown: 2
          request_header_ratelimit_cooldown: 9
          notify_slack_hits_rpm: 5
          allow_ip:
          - allow_ip
          - allow_ip
          request_header_name: request_header_name
          mode: block
          thresholds:
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          - mode: disabled
            hits: 5
            rps: 5
            minutes: 2
            cooldown: 1
            type: type
            value: value
            notify_slack: notify_slack
          request_header_ratelimit_rps: 7
          waf_ratelimit_hits: 3
          httpbl_enabled:
            key: true
          ip_ratelimit_mode: disabled
          ip_ratelimit_rps: 5
          waf_ratelimit_rps: 2
          notify_email:
          - notify_email
          - notify_email
          block_ip:
          - block_ip
          - block_ip
          block_referer:
          - block_referer
          - block_referer
          waf_ratelimit_mode: disabled
          block_ua:
          - block_ua
          - block_ua
          notify_slack: notify_slack
          paranoia_level: 1
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        only_with_cookie:
          default: false
          type: boolean
        cookie_name:
          type: string
        proxy:
          $ref: '#/components/schemas/ProxyConfigUpdate'
        failover:
          $ref: '#/components/schemas/FailoverConfig'
        notify:
          default: none
          enum:
          - none
          - slack
          type: string
        notify_config:
          $ref: '#/components/schemas/NotifyConfig'
        waf_enabled:
          default: false
          type: boolean
        waf_config:
          $ref: '#/components/schemas/WAFConfigUpdate'
      type: object
    RuleRedirect:
      allOf:
      - $ref: '#/components/schemas/Rule'
      example:
        kind: rule_redirect
        action_config:
          status_code: "301"
          to: to
      properties:
        kind:
          enum:
          - rule_redirect
          type: string
        action_config:
          $ref: '#/components/schemas/RuleRedirectAction'
      required:
      - kind
      type: object
    RuleRedirectAction:
      example:
        status_code: "301"
        to: to
      properties:
        to:
          type: string
        status_code:
          default: "301"
          type: string
      required:
      - status_code
      - to
      type: object
    RuleRedirectRequest:
      example:
        country: country_is
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        only_with_cookie: false
        redirect_code: "301"
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        url:
        - url
        - url
        cookie_name: cookie_name
        redirect_to: redirect_to
        country_is_not:
        - country_is_not
        - country_is_not
        domain:
        - domain
        - domain
        name: name
        ip_is:
        - ip_is
        - ip_is
        disabled: false
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        only_with_cookie:
          default: false
          type: boolean
        cookie_name:
          type: string
        redirect_to:
          type: string
        redirect_code:
          default: "301"
          type: string
      required:
      - disabled
      - domain
      - redirect_code
      - redirect_to
      - url
      type: object
    RuleRedirectRequestUpdate:
      example:
        country: country_is
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        only_with_cookie: false
        redirect_code: "301"
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        url:
        - url
        - url
        cookie_name: cookie_name
        redirect_to: redirect_to
        country_is_not:
        - country_is_not
        - country_is_not
        domain:
        - domain
        - domain
        name: name
        ip_is:
        - ip_is
        - ip_is
        disabled: false
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        only_with_cookie:
          default: false
          type: boolean
        cookie_name:
          type: string
        redirect_to:
          type: string
        redirect_code:
          default: "301"
          type: string
      type: object
    Store:
      example:
        name: name
      properties:
        name:
[...]
