openapi: 3.0.0
info:
  title: QuantCDN Admin API
  version: 0.0.0
servers:
- description: Admin API
  url: https://dashboard.quantcdn.io/api/v2
security:
- BearerAuth: []
tags:
- name: Organizations
- name: Projects
- name: Purge
- name: Crawlers
- name: CrawlerSchedules
- name: Domains
- name: Headers
- name: Rules__Proxy
- name: Rules__Redirect
- name: Rules__BotChallenge
- name: Rules__Function
- name: Rules__ContentFilter
- name: KV
- name: KV__Items
paths:
  /organizations:
    get:
      operationId: Organizations_list
      parameters: []
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organization'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Organizations
  /organizations/{organization}:
    get:
      operationId: Organizations_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Organization'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Organizations
  /organizations/{organization}/projects:
    get:
      operationId: Projects_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Project'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    post:
      operationId: Projects_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded and a new resource has been created
            as a result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
  /organizations/{organization}/projects/{project}:
    delete:
      operationId: Projects_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    get:
      operationId: Projects_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
    patch:
      operationId: Projects_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProjectRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Projects
  /organizations/{organization}/projects/{project}/crawlers:
    get:
      operationId: Crawlers_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Crawler'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    post:
      operationId: Crawlers_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
  /organizations/{organization}/projects/{project}/crawlers/{crawler}:
    delete:
      operationId: Crawlers_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    get:
      operationId: Crawlers_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
    patch:
      operationId: Crawlers_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Crawlers
  /organizations/{organization}/projects/{project}/crawlers/{crawler}/schedules:
    get:
      operationId: CrawlerSchedules_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/CrawlerSchedule'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - CrawlerSchedules
    post:
      operationId: CrawlerSchedules_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerScheduleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - CrawlerSchedules
  /organizations/{organization}/projects/{project}/crawlers/{crawler}/schedules/{crawler_schedule}:
    delete:
      operationId: CrawlerSchedules_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - CrawlerSchedules
    get:
      operationId: CrawlerSchedules_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - CrawlerSchedules
    patch:
      operationId: CrawlerSchedules_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CrawlerScheduleRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - CrawlerSchedules
  /organizations/{organization}/projects/{project}/custom-headers:
    delete:
      operationId: Headers_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Headers_delete_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
    get:
      operationId: Headers_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
    post:
      operationId: Headers_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Headers_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                additionalProperties:
                  type: string
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Headers
  /organizations/{organization}/projects/{project}/domains:
    get:
      operationId: Domains_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Domain'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    post:
      operationId: Domains_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
  /organizations/{organization}/projects/{project}/domains/{domain}:
    delete:
      operationId: Domains_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    get:
      operationId: Domains_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
    patch:
      operationId: Domains_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DomainRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Domains
  /organizations/{organization}/projects/{project}/kv:
    get:
      operationId: KV_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Store'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    post:
      operationId: KV_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Store'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
  /organizations/{organization}/projects/{project}/kv/{store}:
    delete:
      operationId: KV_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    get:
      operationId: KV_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
    patch:
      operationId: KV_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV
  /organizations/{organization}/projects/{project}/kv/{store}/items:
    get:
      operationId: KVItems_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/StoreItem'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    post:
      operationId: KVItems_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItem'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
  /organizations/{organization}/projects/{project}/kv/{store}/items/{item}:
    delete:
      operationId: KVItems_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    get:
      operationId: KVItems_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
    patch:
      operationId: KVItems_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: store
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: item
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StoreItemUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StoreItem'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - KV__Items
  /organizations/{organization}/projects/{project}/purge:
    post:
      operationId: Purge_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PurgeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Purge
  /organizations/{organization}/projects/{project}/rules/bot-challenge:
    get:
      operationId: RulesBotChallenge_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleBotChallenge'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__BotChallenge
    post:
      operationId: RulesBotChallenge_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleBotChallengeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__BotChallenge
  /organizations/{organization}/projects/{project}/rules/bot-challenge/{rule}:
    delete:
      operationId: RulesBotChallenge_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__BotChallenge
    get:
      operationId: RulesBotChallenge_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__BotChallenge
    patch:
      operationId: RulesBotChallenge_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleBotChallengeRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__BotChallenge
  /organizations/{organization}/projects/{project}/rules/content-filter:
    get:
      operationId: RulesContentFilter_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleContentFilter'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__ContentFilter
    post:
      operationId: RulesContentFilter_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleContentFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__ContentFilter
  /organizations/{organization}/projects/{project}/rules/content-filter/{rule}:
    delete:
      operationId: RulesContentFilter_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__ContentFilter
    get:
      operationId: RulesContentFilter_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__ContentFilter
    patch:
      operationId: RulesContentFilter_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleContentFilterRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__ContentFilter
  /organizations/{organization}/projects/{project}/rules/function:
    get:
      operationId: RulesFunction_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleFunction'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Function
    post:
      operationId: RulesFunction_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleFunctionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Function
  /organizations/{organization}/projects/{project}/rules/function/{rule}:
    delete:
      operationId: RulesFunction_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Function
    get:
      operationId: RulesFunction_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Function
    patch:
      operationId: RulesFunction_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleFunctionRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Function
  /organizations/{organization}/projects/{project}/rules/proxy:
    get:
      operationId: RulesProxy_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleProxy'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    post:
      operationId: RulesProxy_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleProxyRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded and a new resource has been created
            as a result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
  /organizations/{organization}/projects/{project}/rules/proxy/{rule}:
    delete:
      operationId: RulesProxy_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    get:
      operationId: RulesProxy_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
    patch:
      operationId: RulesProxy_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleProxyRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleProxy'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Proxy
  /organizations/{organization}/projects/{project}/rules/redirect:
    get:
      operationId: RulesRedirect_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleRedirect'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    post:
      operationId: RulesRedirect_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleRedirectRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
  /organizations/{organization}/projects/{project}/rules/redirect/{rule}:
    delete:
      operationId: RulesRedirect_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    get:
      operationId: RulesRedirect_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
    patch:
      operationId: RulesRedirect_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleRedirectRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleRedirect'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
      tags:
      - Rules__Redirect
  /organizations/{organization}/projects/{project}/rules/serve-static:
    get:
      operationId: RulesServeStatic_list
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/RuleServeStatic'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
    post:
      operationId: RulesServeStatic_create
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleServeStaticRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleServeStatic'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
  /organizations/{organization}/projects/{project}/rules/serve-static/{rule}:
    delete:
      operationId: RulesServeStatic_delete
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleServeStatic'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
    get:
      operationId: RulesServeStatic_read
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleServeStatic'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
    patch:
      operationId: RulesServeStatic_update
      parameters:
      - explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleServeStaticRequestUpdate'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RuleServeStatic'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
          description: Access is forbidden.
components:
  parameters:
    ResourceURLParameters.organization:
      explode: false
      in: path
      name: organization
      required: true
      schema:
        type: string
      style: simple
    ResourceURLParameters.project:
      explode: false
      in: path
      name: project
      required: true
      schema:
        type: string
      style: simple
  schemas:
    Crawler:
      example:
        urls_list: urls_list
        updated_at: updated_at
        project_id: 6
        domain: domain
        name: name
        domain_verified: 1
        created_at: created_at
        id: 0
        uuid: uuid
        config: config
        deleted_at: deleted_at
      properties:
        name:
          type: string
        id:
          type: integer
        project_id:
          type: integer
        uuid:
          type: string
        config:
          type: string
        domain:
          type: string
        domain_verified:
          default: 0
          type: integer
        urls_list:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - config
      - domain
      - id
      - project_id
      - uuid
      type: object
    CrawlerRequest:
      example:
        headers:
          key: headers
        urls:
        - urls
        - urls
        domain: domain
        name: name
        browser_mode: false
        exclude:
        - exclude
        - exclude
      properties:
        name:
          type: string
        domain:
          type: string
        browser_mode:
          default: false
          type: boolean
        urls:
          default: []
          items:
            type: string
          type: array
        headers:
          additionalProperties:
            type: string
          type: object
        exclude:
          default: []
          items:
            type: string
          type: array
      required:
      - domain
      type: object
    CrawlerRequestUpdate:
      example:
        headers:
          key: headers
        urls:
        - urls
        - urls
        domain: domain
        name: name
        browser_mode: false
        exclude:
        - exclude
        - exclude
      properties:
        name:
          type: string
        domain:
          type: string
        browser_mode:
          default: false
          type: boolean
        urls:
          default: []
          items:
            type: string
          type: array
        headers:
          additionalProperties:
            type: string
          type: object
        exclude:
          default: []
          items:
            type: string
          type: array
      type: object
    CrawlerSchedule:
      example:
        crawler_last_run_id: 5
        schedule_cron_string: schedule_cron_string
        updated_at: updated_at
        project_id: 1
        name: name
        crawler_config_id: 6
        created_at: created_at
        id: 0
        deleted_at: deleted_at
      properties:
        id:
          type: integer
        name:
          type: string
        crawler_config_id:
          type: integer
        project_id:
          type: integer
        crawler_last_run_id:
          type: integer
        schedule_cron_string:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - crawler_config_id
      - crawler_last_run_id
      - id
      - project_id
      - schedule_cron_string
      type: object
    CrawlerScheduleRequest:
      example:
        schedule_cron_string: schedule_cron_string
        name: name
      properties:
        name:
          type: string
        schedule_cron_string:
          type: string
      required:
      - schedule_cron_string
      type: object
    CrawlerScheduleRequestUpdate:
      example:
        schedule_cron_string: schedule_cron_string
        name: name
      properties:
        name:
          type: string
        schedule_cron_string:
          type: string
      type: object
    Domain:
      example:
        updated_at: updated_at
        project_id: 6
        domain: domain
        dns_engaged: 5
        created_at: created_at
        id: 0
        in_section: 1
        deleted_at: deleted_at
        section_message: section_message
      properties:
        id:
          type: integer
        domain:
          type: string
        project_id:
          type: integer
        in_section:
          type: integer
        dns_engaged:
          type: integer
        section_message:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
      required:
      - dns_engaged
      - domain
      - id
      type: object
    DomainRequest:
      example:
        domain: domain
        name: name
      properties:
        name:
          type: string
        domain:
          type: string
      required:
      - domain
      - name
      type: object
    DomainRequestUpdate:
      example:
        domain: domain
        name: name
      properties:
        name:
          type: string
        domain:
          type: string
      type: object
    Error:
      example:
        message: message
        error: true
      properties:
        message:
          type: string
        error:
          type: boolean
      required:
      - error
      - message
      type: object
    NotifyConfig:
      example:
        period: "60"
        slack_webhook: ""
        origin_status_codes:
        - origin_status_codes
        - origin_status_codes
      properties:
        origin_status_codes:
          items:
            type: string
          type: array
        period:
          default: "60"
          type: string
        slack_webhook:
          default: ""
          type: string
      type: object
    Organization:
      example:
        updated_at: updated_at
        name: name
        organizations: organizations
        created_at: created_at
        subscription: subscription
        region: au
        type: type
      properties:
        name:
          readOnly: true
          type: string
        organizations:
          type: string
        region:
          default: au
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        subscription:
          type: string
        type:
          type: string
      required:
      - name
      - organizations
      - region
      type: object
    Project:
      example:
        project_type: normal
        disable_revisions: true
        fastly_migrated: 5
        created_at: created_at
        machine_name: machine_name
        uuid: uuid
        deleted_at: deleted_at
        updated_at: updated_at
        organization_id: 6
        name: name
        security_score: security_score
        id: 0
        git_url: git_url
        parent_project_id: 1
        region: region
      properties:
        id:
          type: integer
        machine_name:
          type: string
        name:
          type: string
        organization_id:
          type: integer
        uuid:
          type: string
        project_type:
          default: normal
          enum:
          - normal
          - opensource
          - quant
          type: string
        git_url:
          type: string
        security_score:
          type: string
        parent_project_id:
          type: integer
        region:
          type: string
        created_at:
          type: string
        updated_at:
          type: string
        deleted_at:
          type: string
        fastly_migrated:
          default: 1
          type: integer
        disable_revisions:
          default: true
          type: boolean
      required:
      - machine_name
      - name
      type: object
    ProjectRequest:
      example:
        disable_revisions: true
        basic_auth_preview_only: basic_auth_preview_only
        allow_query_params: true
        basic_auth_password: basic_auth_password
        custom_s3_sync_region: custom_s3_sync_region
        custom_s3_sync_access_key: custom_s3_sync_access_key
        name: name
        basic_auth_username: basic_auth_username
        region: au
        custom_s3_sync_secret_key: custom_s3_sync_secret_key
        custom_s3_sync_bucket: custom_s3_sync_bucket
      properties:
        name:
          type: string
        region:
          default: au
          type: string
        allow_query_params:
          type: boolean
        disable_revisions:
          default: true
          type: boolean
        basic_auth_username:
          type: string
        basic_auth_password:
          type: string
        basic_auth_preview_only:
          type: string
        custom_s3_sync_bucket:
          type: string
        custom_s3_sync_region:
          type: string
        custom_s3_sync_access_key:
          type: string
        custom_s3_sync_secret_key:
          type: string
      required:
      - name
      - region
      type: object
    ProjectRequestUpdate:
      example:
        disable_revisions: true
        basic_auth_preview_only: basic_auth_preview_only
        allow_query_params: true
        basic_auth_password: basic_auth_password
        custom_s3_sync_region: custom_s3_sync_region
        custom_s3_sync_access_key: custom_s3_sync_access_key
        name: name
        basic_auth_username: basic_auth_username
        region: au
        custom_s3_sync_secret_key: custom_s3_sync_secret_key
        custom_s3_sync_bucket: custom_s3_sync_bucket
      properties:
        name:
          type: string
        region:
          default: au
          type: string
        allow_query_params:
          type: boolean
        disable_revisions:
          default: true
          type: boolean
        basic_auth_username:
          type: string
        basic_auth_password:
          type: string
        basic_auth_preview_only:
          type: string
        custom_s3_sync_bucket:
          type: string
        custom_s3_sync_region:
          type: string
        custom_s3_sync_access_key:
          type: string
        custom_s3_sync_secret_key:
          type: string
      type: object
    PurgeRequest:
      example:
        cache_keys:
        - cache_keys
        - cache_keys
        scope: project
      properties:
        cache_keys:
          items:
            type: string
          type: array
        scope:
          default: project
          enum:
          - org
          - project
          type: string
      required:
      - cache_keys
      - scope
      type: object
    Rule:
      properties:
        name:
          type: string
        uuid:
          type: string
        rule_id:
          type: string
        url:
          items:
            type: string
          type: array
        domain:
          items:
            type: string
          type: array
        disabled:
          default: false
          type: boolean
        only_with_cookie:
          type: string
        method:
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        country:
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        action:
          type: string
      required:
      - action
      - disabled
      - uuid
      type: object
    RuleAuth:
      allOf:
      - $ref: '#/components/schemas/Rule'
      properties:
        action_config:
          $ref: '#/components/schemas/RuleAuthAction'
      required:
      - action_config
      type: object
    RuleAuthAction:
      properties:
        auth_user:
          type: string
        auth_pass:
          type: string
      required:
      - auth_pass
      - auth_user
      type: object
    RuleBotChallenge:
      allOf:
      - $ref: '#/components/schemas/Rule'
      example:
        action_config:
          robot_challenge_type: robot_challenge_type
          robot_challenge_verification_ttl: 0
          robot_challenge_challenge_ttl: 6
      properties:
        action_config:
          $ref: '#/components/schemas/RuleBotChallengeAction'
      required:
      - action_config
      type: object
    RuleBotChallengeAction:
      example:
        robot_challenge_type: robot_challenge_type
        robot_challenge_verification_ttl: 0
        robot_challenge_challenge_ttl: 6
      properties:
        robot_challenge_type:
          type: string
        robot_challenge_verification_ttl:
          default: 10800
          type: integer
        robot_challenge_challenge_ttl:
          default: 30
          type: integer
      required:
      - robot_challenge_challenge_ttl
      - robot_challenge_type
      - robot_challenge_verification_ttl
      type: object
    RuleBotChallengeRequest:
      example:
        country: country_is
        robot_challenge_type: robot_challenge_type
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        url:
        - url
        - url
        country_is_not:
        - country_is_not
        - country_is_not
        robot_challenge_verification_ttl: 6
        domain:
        - domain
        - domain
        name: name
        ip_is:
        - ip_is
        - ip_is
        robot_challenge_challenge_ttl: 1
        disabled: false
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          default: 0
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          - any
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          - any
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          - any
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        robot_challenge_type:
          type: string
        robot_challenge_verification_ttl:
          default: 10800
          type: integer
        robot_challenge_challenge_ttl:
          default: 30
          type: integer
      required:
      - disabled
      - domain
      - robot_challenge_challenge_ttl
      - robot_challenge_type
      - robot_challenge_verification_ttl
      - url
      type: object
    RuleBotChallengeRequestUpdate:
      example:
        country: country_is
        robot_challenge_type: robot_challenge_type
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        url:
        - url
        - url
        country_is_not:
        - country_is_not
        - country_is_not
        robot_challenge_verification_ttl: 6
        domain:
        - domain
        - domain
        name: name
        ip_is:
        - ip_is
        - ip_is
        robot_challenge_challenge_ttl: 1
        disabled: false
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
        uuid:
          type: string
        weight:
          default: 0
          type: integer
        disabled:
          default: false
          type: boolean
        url:
          items:
            type: string
          type: array
        country:
          enum:
          - country_is
          - country_is_not
          - any
          type: string
        country_is:
          items:
            type: string
          type: array
        country_is_not:
          items:
            type: string
          type: array
        method:
          enum:
          - method_is
          - method_is_not
          - any
          type: string
        method_is:
          items:
            type: string
          type: array
        method_is_not:
          items:
            type: string
          type: array
        ip:
          enum:
          - ip_is
          - ip_is_not
          - any
          type: string
        ip_is:
          items:
            type: string
          type: array
        ip_is_not:
          items:
            type: string
          type: array
        robot_challenge_type:
          type: string
        robot_challenge_verification_ttl:
          default: 10800
          type: integer
        robot_challenge_challenge_ttl:
          default: 30
          type: integer
      type: object
    RuleContentFilter:
      allOf:
      - $ref: '#/components/schemas/Rule'
      example:
        action_config:
          fn_uuid: fn_uuid
      properties:
        action_config:
          $ref: '#/components/schemas/RuleContentFilterAction'
      required:
      - action_config
      type: object
    RuleContentFilterAction:
      example:
        fn_uuid: fn_uuid
      properties:
        fn_uuid:
          type: string
      required:
      - fn_uuid
      type: object
    RuleContentFilterRequest:
      example:
        country: country_is
        method: method_is
        ip_is_not:
        - ip_is_not
        - ip_is_not
        method_is:
        - method_is
        - method_is
        ip: ip_is
        weight: 0
        country_is:
        - country_is
        - country_is
        method_is_not:
        - method_is_not
        - method_is_not
        uuid: uuid
        url:
        - url
        - url
        country_is_not:
        - country_is_not
        - country_is_not
        fn_uuid: fn_uuid
        domain:
        - domain
        - domain
        name: name
        ip_is:
        - ip_is
        - ip_is
        disabled: false
      properties:
        domain:
          default:
          - any
          items:
            type: string
          type: array
        name:
          type: string
[...]
