openapi: 3.0.0
info:
  description: Unified API for QuantCDN Admin and QuantCloud Platform services
  title: QuantCDN API
  version: 4.10.0
servers:
- description: QuantCDN Public Cloud
  url: https://dashboard.quantcdn.io
- description: QuantGov Cloud
  url: https://dash.quantgov.cloud
security:
- BearerAuth: []
tags:
- description: Cloud application lifecycle management
  name: Applications
- description: Backup and restore operations for applications
  name: Backup Management
- description: Execute commands in application containers
  name: Commands
- description: Docker compose configuration management
  name: Compose
- description: Container management and operations
  name: Containers
- description: Scheduled website crawl operations
  name: CrawlerSchedules
- description: Website crawler configuration and management
  name: Crawlers
- description: Scheduled task management
  name: Cron
- description: Domain and DNS management
  name: Domains
- description: Application environment management and configuration
  name: Environments
- description: HTTP header rule management
  name: Headers
- description: Key-value store operations
  name: KV
- description: Organization management and settings
  name: Organizations
- description: Static site project management
  name: Projects
- description: Cache purging and invalidation
  name: Purge
- description: "Edge rules (redirects, authentication, proxies, etc.)"
  name: Rules
- description: Auto-scaling policies and configuration
  name: ScalingPolicy
- description: SSH key management for container access
  name: SSH Access
- description: Environment variable management
  name: Variables
- description: Persistent storage volume management
  name: Volumes
- description: CDN Metrics
  name: CDN Metrics
- description: AI Models
  name: AI Models
- description: AI Sessions
  name: AI Sessions
- description: AI Task Management
  name: AI Task Management
- description: AI Monitoring
  name: AI Monitoring
- description: AI Inference
  name: AI Inference
- description: AI Tools
  name: AI Tools
- description: Orchestration
  name: Orchestration
- description: AI Agents
  name: AI Agents
- description: AI Custom Tools
  name: AI Custom Tools
- description: AI Vector Database
  name: AI Vector Database
- description: AI File Storage
  name: AI File Storage
- description: AI Orchestrations
  name: AI Orchestrations
paths:
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}/schedules:
    get:
      operationId: CrawlerSchedules_list
      parameters:
      - example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2CrawlerSchedule'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List schedules for a crawler
      tags:
      - CrawlerSchedules
    post:
      operationId: CrawlerSchedules_add
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CrawlerScheduleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2CrawlerSchedule'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Add a new schedule
      tags:
      - CrawlerSchedules
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}/schedules/{crawler_schedule}:
    delete:
      operationId: CrawlerSchedules_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler schedule identifier
        explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The crawler schedule has been deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a schedule
      tags:
      - CrawlerSchedules
    get:
      operationId: CrawlerSchedules_show
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler schedule identifier
        explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2CrawlerSchedule'
          description: The crawler schedule.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Show a specific schedule
      tags:
      - CrawlerSchedules
    patch:
      operationId: CrawlerSchedules_edit
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler schedule identifier
        explode: false
        in: path
        name: crawler_schedule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CrawlerScheduleRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2CrawlerSchedule'
          description: The crawler schedule.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Edit a schedule
      tags:
      - CrawlerSchedules
  /api/v2/organizations/{organization}/projects/{project}/crawlers:
    get:
      operationId: Crawlers_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List crawlers for the project
      tags:
      - Crawlers
    post:
      operationId: Crawlers_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CrawlerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create a new crawler
      tags:
      - Crawlers
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}:
    delete:
      operationId: Crawlers_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: The UUID of the crawler
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a crawler
      tags:
      - Crawlers
    get:
      operationId: Crawlers_read
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: The UUID of the crawler
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a single crawler
      tags:
      - Crawlers
    patch:
      operationId: Crawlers_update
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: The UUID of the crawler
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CrawlerRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Crawler'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update a crawler
      tags:
      - Crawlers
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}/run:
    post:
      operationId: Crawlers_run
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Crawlers_run_request'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Crawlers_run_200_response'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The resource was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: An unexpected error occurred.
      summary: Run a crawler
      tags:
      - Crawlers
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}/runs:
    get:
      operationId: Crawlers_getRuns
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2CrawlerRun'
                type: array
          description: The runs
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The resource was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: An unexpected error occurred.
      summary: Get all runs for a crawler
      tags:
      - Crawlers
  /api/v2/organizations/{organization}/projects/{project}/crawlers/{crawler}/runs/{run_id}:
    get:
      operationId: Crawlers_getRunById
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Crawler identifier
        example: 00000000-0000-0000-0000-000000000000
        explode: false
        in: path
        name: crawler
        required: true
        schema:
          type: string
        style: simple
      - description: Run identifier
        example: 1
        explode: false
        in: path
        name: run_id
        required: true
        schema:
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2CrawlerRun'
          description: The run
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The resource was not found.
        "500":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: An unexpected error occurred.
      summary: Get a run by ID
      tags:
      - Crawlers
  /api/v2/organizations/{organization}/projects/{project}/custom-headers:
    delete:
      operationId: Headers_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CustomHeaderRequest'
        required: true
      responses:
        "204":
          description: The headers have been deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete custom headers
      tags:
      - Headers
    get:
      operationId: Headers_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              example:
                X-Custom-Header: value
                X-Another-Header: another-value
              schema:
                additionalProperties:
                  type: string
                description: Map of header names to header values
                type: object
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List custom headers for a project
      tags:
      - Headers
    post:
      operationId: Headers_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2CustomHeaderRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2CustomHeader'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create or update custom headers
      tags:
      - Headers
  /api/v2/organizations/{organization}/projects/{project}/domains:
    get:
      operationId: Domains_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2Domain'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List all domains for a project
      tags:
      - Domains
    post:
      operationId: Domains_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2DomainRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Add a new domain
      tags:
      - Domains
  /api/v2/organizations/{organization}/projects/{project}/domains/{domain}:
    delete:
      operationId: Domains_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Domain id
        example: "0000"
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The domain has been deleted.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a domain
      tags:
      - Domains
    get:
      operationId: Domains_read
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Domain id
        example: "0000"
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Domain'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a single domain
      tags:
      - Domains
  /api/v2/organizations/{organization}/projects/{project}/domains/{domain}/renew:
    post:
      operationId: Domains_renew
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Domain id
        example: "0000"
        explode: false
        in: path
        name: domain
        required: true
        schema:
          type: string
        style: simple
      responses:
        "202":
          description: The SSL certificate renewal has been initiated.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Renew the SSL certificate for a domain
      tags:
      - Domains
  /api/v2/organizations/{organization}/projects/{project}/kv:
    get:
      operationId: KV_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2Store'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List key-value stores
      tags:
      - KV
    post:
      operationId: KV_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2StoreRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Store'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Add a kv store
      tags:
      - KV
  /api/v2/organizations/{organization}/projects/{project}/kv/{store_id}:
    delete:
      operationId: KV_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a kv store
      tags:
      - KV
    get:
      operationId: KV_show
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Store'
          description: The request has succeeded.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: KV store not found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get a kv store
      tags:
      - KV
  /api/v2/organizations/{organization}/projects/{project}/kv/{store_id}/link:
    delete:
      description: Remove access to a linked KV store from this project. The store
        must be linked (not owned by this project).
      operationId: KV_unlink_from_project
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: KV store identifier
        example: store-123
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_link_to_project_200_response'
          description: Store unlinked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Store not linked or invalid request
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Cannot unlink store owned by this project
      summary: Unlink a KV store from this project
      tags:
      - KV
    post:
      description: Share a KV store from the source project with a target project.
        The store will be accessible in the target project.
      operationId: KV_link_to_project
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Source project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: KV store identifier
        example: store-123
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/KV_link_to_project_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_link_to_project_200_response'
          description: Store linked successfully
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Store already linked or invalid request
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Store or target project not found
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access forbidden
      summary: Link a KV store to another project
      tags:
      - KV
  /api/v2/organizations/{organization}/projects/{project}/kv/{store_id}/items:
    get:
      operationId: KV_items_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      - description: Cursor for pagination
        explode: true
        in: query
        name: cursor
        required: false
        schema:
          type: string
        style: form
      - description: Number of items to return
        explode: true
        in: query
        name: limit
        required: false
        schema:
          default: 10
          type: integer
        style: form
      - description: Search filter for keys
        explode: true
        in: query
        name: search
        required: false
        schema:
          type: string
        style: form
      - description: "Include values in the response. Secret values will be redacted\
          \ as '[ENCRYPTED]' for security."
        explode: true
        in: query
        name: include_values
        required: false
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2StoreItemsListResponse'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List items in a kv store
      tags:
      - KV
    post:
      operationId: KV_items_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2StoreItemRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_items_create_200_response'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Validation error.
      summary: Add an item to a kv store
      tags:
      - KV
  /api/v2/organizations/{organization}/projects/{project}/kv/{store_id}/items/{key}:
    delete:
      operationId: KV_items_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_items_delete_200_response'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete an item from a kv store
      tags:
      - KV
    get:
      description: "Retrieves an item from the KV store. **Security Note:** If the\
        \ item was stored as a secret (secret=true), the value will be redacted and\
        \ returned as '[ENCRYPTED]' for security. Secrets should be accessed directly\
        \ via the Quant Cloud platform KVStore abstraction."
      operationId: KV_items_show
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_items_show_200_response'
          description: The request has succeeded.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Item not found.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get an item from a kv store
      tags:
      - KV
    put:
      operationId: KV_items_update
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - example: "0000"
        explode: false
        in: path
        name: store_id
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: key
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2StoreItemUpdateRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/KV_items_create_200_response'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
        "422":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Validation error.
      summary: Update an item in a kv store
      tags:
      - KV
  /v2/organizations/{organization}/projects/{project}/metrics/hourly:
    get:
      description: Returns the last hour of minute-by-minute metrics data
      operationId: getHourlyMetrics
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by domain ID or domain name
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: "Metrics to return (default: hits, bytes)"
        explode: true
        in: query
        name: "metrics[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Timestamp format in response
        explode: true
        in: query
        name: timestamp_format
        required: false
        schema:
          default: iso8601
          enum:
          - iso8601
          - unix
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2MetricsResponse'
          description: Hourly metrics data
        "400":
          description: Invalid metric requested
        "404":
          description: No domains found or domain not found
      security:
      - bearerAuth: []
      summary: Get hourly metrics
      tags:
      - CDN Metrics
  /v2/organizations/{organization}/projects/{project}/metrics/daily:
    get:
      description: Returns the last 30 days of daily metrics data
      operationId: getDailyMetrics
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by domain ID or domain name
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: "Metrics to return (default: hits, bytes)"
        explode: true
        in: query
        name: "metrics[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Timestamp format in response
        explode: true
        in: query
        name: timestamp_format
        required: false
        schema:
          default: iso8601
          enum:
          - iso8601
          - unix
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2MetricsResponse'
          description: Daily metrics data
        "400":
          description: Invalid metric requested
        "404":
          description: No domains found or domain not found
      security:
      - bearerAuth: []
      summary: Get daily metrics
      tags:
      - CDN Metrics
  /v2/organizations/{organization}/projects/{project}/metrics/monthly:
    get:
      description: Returns the last 12 months of monthly metrics data
      operationId: getMonthlyMetrics
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Filter by domain ID or domain name
        explode: true
        in: query
        name: domain
        required: false
        schema:
          type: string
        style: form
      - description: "Metrics to return (default: hits, bytes)"
        explode: true
        in: query
        name: "metrics[]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: Timestamp format in response
        explode: true
        in: query
        name: timestamp_format
        required: false
        schema:
          default: iso8601
          enum:
          - iso8601
          - unix
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2MetricsResponse'
          description: Monthly metrics data
        "400":
          description: Invalid metric requested
        "404":
          description: No domains found or domain not found
      security:
      - bearerAuth: []
      summary: Get monthly metrics
      tags:
      - CDN Metrics
  /api/v2/organizations:
    get:
      operationId: Organizations_list
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/Organizations_list_200_response_inner'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Retrieve all organizations
      tags:
      - Organizations
  /api/v2/organizations/{organization}:
    get:
      operationId: Organizations_read
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Organization'
          description: The request has succeeded.
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Organization not found.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a single organization
      tags:
      - Organizations
  /api/v2/organizations/{organization}/projects:
    get:
      operationId: Projects_list
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2Project'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Retrieve all projects for an organization
      tags:
      - Projects
    post:
      operationId: Projects_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2ProjectRequest'
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Project'
          description: The request has succeeded and a new resource has been created
            as a result.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create a new project
      tags:
      - Projects
  /api/v2/organizations/{organization}/projects/{project}:
    delete:
      operationId: Projects_delete
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a project
      tags:
      - Projects
    get:
      operationId: Projects_read
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: query
        name: with_token
        required: true
        schema:
          default: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a single project
      tags:
      - Projects
    patch:
      operationId: Projects_update
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2ProjectRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Project'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update a project
      tags:
      - Projects
  /api/v2/organizations/{organization}/projects/{project}/purge:
    post:
      operationId: Purge_create
      parameters:
      - description: Organization identifier
        example: test-org
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        example: test-project
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Purge_create_request'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                type: string
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Purge cache via URL or cache keys
      tags:
      - Purge
  /api/v2/organizations/{organization}/projects/{project}/rules/auth:
    get:
      operationId: RulesAuth_list
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2RuleAuth'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List authentication rules
      tags:
      - Rules
    post:
      operationId: RulesAuth_create
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleAuth'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create an authentication rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/auth/{rule}:
    delete:
      operationId: RulesAuth_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete an authentication rule
      tags:
      - Rules
    get:
      operationId: RulesAuth_read
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleAuth'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of an authentication rule
      tags:
      - Rules
    patch:
      operationId: RulesAuth_update
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleAuthRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleAuth'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update an authentication rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/bot-challenge:
    get:
      operationId: RulesBotChallenge_list
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2RuleBotChallenge'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List bot challenge rules
      tags:
      - Rules
    post:
      operationId: RulesBotChallenge_create
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleBotChallengeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create a bot challenge rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/bot-challenge/{rule}:
    delete:
      operationId: RulesBotChallenge_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a bot challenge rule
      tags:
      - Rules
    get:
      operationId: RulesBotChallenge_read
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a bot challenge rule
      tags:
      - Rules
    patch:
      operationId: RulesBotChallenge_update
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleBotChallengeRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleBotChallenge'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update a bot challenge rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/content-filter:
    get:
      operationId: RulesContentFilter_list
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2RuleContentFilter'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List content filter rules
      tags:
      - Rules
    post:
      operationId: RulesContentFilter_create
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleContentFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create a content filter rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/content-filter/{rule}:
    delete:
      operationId: RulesContentFilter_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a content filter rule
      tags:
      - Rules
    get:
      operationId: RulesContentFilter_read
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a content filter rule
      tags:
      - Rules
    patch:
      operationId: RulesContentFilter_update
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleContentFilterRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleContentFilter'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update a content filter rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/custom-response:
    get:
      operationId: RulesCustomResponse_list
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2RuleCustomResponse'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List custom response rules
      tags:
      - Rules
    post:
      operationId: RulesCustomResponse_create
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleCustomResponseRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleCustomResponse'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create a custom response rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/custom-response/{rule}:
    delete:
      operationId: RulesCustomResponse_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete a custom response rule
      tags:
      - Rules
    get:
      operationId: RulesCustomResponse_read
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleCustomResponse'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of a custom response rule
      tags:
      - Rules
    patch:
      operationId: RulesCustomResponse_update
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleCustomResponseRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleCustomResponse'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Update a custom response rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/function:
    get:
      operationId: RulesFunction_list
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: '#/components/schemas/V2RuleFunction'
                type: array
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: List edge function rules
      tags:
      - Rules
    post:
      operationId: RulesFunction_create
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/V2RuleFunctionRequest'
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Create an edge function rule
      tags:
      - Rules
  /api/v2/organizations/{organization}/projects/{project}/rules/function/{rule}:
    delete:
      operationId: RulesFunction_delete
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "204":
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Delete an edge function rule
      tags:
      - Rules
    get:
      operationId: RulesFunction_read
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
          type: string
        style: simple
      - description: Project identifier
        explode: false
        in: path
        name: project
        required: true
        schema:
          type: string
        style: simple
      - description: Rule identifier
        explode: false
        in: path
        name: rule
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2RuleFunction'
          description: The request has succeeded.
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: The server could not understand the request due to invalid
            syntax.
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/V2Error'
          description: Access is forbidden.
      summary: Get details of an edge function rule
      tags:
      - Rules
    patch:
      operationId: RulesFunction_update
      parameters:
      - description: Organization identifier
        explode: false
        in: path
        name: organization
        required: true
        schema:
[...]
