name: Publish to pkg.go.dev

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - uses: actions/setup-go@v5
        with:
          go-version: '1.21'
          
      - name: Update pkg.go.dev
        run: go list -m github.com/quantcdn/quant-admin-go/v4@${{ github.ref_name }}
